<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addContact</title>
    <link href="/public/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
   
  <div class="wrapper">
    <main>

    <!-- Menü/Nav  --> 
    <ul class="nav-links" id="responsive">
      <a href="/login" >
          <i class="material-icons profil-icon">account_circle</i>
      </a>

      <div class="nav-items">
          <a href="/index" >Home</a>
         <a href="/portfolio">Mein Portfolio</a>
          <a href="portfolio/erstellen" class="active">Portfolio erstellen</a>
           <a href="javascript:void(0);" class="icon" id="burgermenutest">
              <i class="material-icons" style="font-size:40px">reorder</i>
          </a>
      </div>   
</ul>

<!-- Upload box -->
<h3 class="h3_erstellePortfolio">Füge deinem Portfolio deine Kontaktdaten hinzu!</h3>


<div class="body_GridContact">
    <div class="container_contact">
        
        <div class="header-container">

        <a class="pfeil-left" href="Portfolio.html" ><i class="material-icons pfeil-left-right" >arrow_back</i></a>

        <h4>Kontaktdaten</h4>
        
        <a class="pfeil-right" href="Portfolio.html" ><i class="material-icons pfeil-left-right" >	arrow_forward</i></a>
    </div>
  
      <div id="message-container"></div> 

      <form id="contactForm" action="/login" method="POST">
        <label for="email">E-Mail:</label>
        <input maxlength="30" type="text" id="email" name="email">
        <label for="telefon">Telefon:</label>
        <input  type="number" id="telefon" name="telefon" min="1" max="20">
        <label for="email">Addresse:</label>
        <input maxlength="100" type="text" id="email" name="email">
        <label for="telefon">Sonstiges:</label>
        <input maxlength="50" type="text" id="telefon" name="telefon">
      </form>

    <button class="button-save-contact">Speichern</button>
    </div>
  </div>

</main>

  <footer>
    <ul class="nav-linksFooter">
         <h5>More On This Site</h5>
         <li><a href="ueber-uns">Über uns</a></li>
         <li><a href="kontakt">Kontakt</a></li>
         <li><a href="impressum">Impressum</a></li>
         <li><a href="datenschutz">Datenschutz</a></li>
         <li><a href="dokumentation">Dokumentation</a></li>
         <li><a href="kollophon">Kollophon</a></li> 
        </ul>
    </footer>


      </div>
    </body>
</html>