<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>addWorkBilder</title>
    <link href="/public/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
       <!-- Menü/Nav  --> 
       <ul class="nav-links" id="responsive">
        <a href="/login" >
            <i class="material-icons profil-icon">account_circle</i>
        </a>
  
        <div class="nav-items">
            <a href="/index" >Home</a>
           <a href="/portfolio">Mein Portfolio</a>
            <a href="portfolio/erstellen" class="active">Portfolio erstellen</a>
             <a href="javascript:void(0);" class="icon" id="burgermenutest">
                <i class="material-icons" style="font-size:40px">reorder</i>
            </a>
        </div>   
  </ul>

    <!-- Upload box -->
    <h3 class="h3_erstellePortfolio">Füge deinem Portfolio Bilder deiner Arbeit hinzu!</h3>

    

    <div class="upload-box"
    >   
      <h4>Titelbild</h4>
      
      <img id="preview" class="preview-image" alt="Image Preview" />

      <button class="button-save-aboutyou">Speichern</button>
    </div>

    
<!-- Portfolio - Bildergalerie --> 

<div class="PortfolioDetailSite">
  <div class="row" id="gallery">
    <!-- Bilder werden hier dynamisch hinzugefügt -->
    <div class="column">
      <img src="/public/Bilder/LandingPagePic.jpg" alt="Bild 1">
    </div>
    <div class="column">
      <img src="/public/Bilder/LandingPagePic.jpg" alt="Bild 2">
    </div>
    <div class="column">
      <img src="/public/Bilder/LandingPagePic.jpg" alt="Bild 3">
    </div>
    <div class="column">
      <img src="/public/Bilder/LandingPagePic.jpg" alt="Bild 1">
    </div>
    <div class="column">
      <img src="/public/Bilder/LandingPagePic.jpg" alt="Bild 2">
    </div>
    <div class="column">
      <img src="/public/Bilder/LandingPagePic.jpg" alt="Bild 3">
    </div>
  </div>
  <div class="upload-container">
    <input type="file" id="fileInput" accept="image/*" multiple>
    <button id="uploadButtonGalerie">Bilder hochladen</button>
  </div>
</div>

    <!--<footer>
      <ul class="nav-linksFooter">
        <h5>More On This Site</h5>
        <li><a href="/ueber-uns">Über uns</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
        <li><a href="/impressum">Impressum</a></li>
        <li><a href="/datenschutz">Datenschutz</a></li>
        <li><a href="/dokumentation">Dokumentation</a></li>
        <li><a href="/kollophon">Kollophon</a></li>
      </ul>
    </footer>--> 
  </body>
</html>
