<!DOCTYPE html>
<html lang="DE">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Datenschutz</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>

  <body>
    <div class="wrapper">
      <main>
        <!-- Menü/Nav  -->
        <ul class="nav-links" id="responsive">
          {{ account | safe}}

          <div class="nav-items">
            <a href="/index" class="active">Home</a>
            {{ portfolioMenu | safe}}
            <a href="javascript:void(0);" class="icon" id="burgermenutest">
              <i class="material-icons" style="font-size: 40px">reorder</i>
            </a>
          </div>
        </ul>

        
      <div class="PortfolioDetailSite">

        <h3>Datenschutz</h3>

        <h4>II. Allgemeines zur Datenverarbeitung</h4>

        <h4>1. Umfang der Verarbeitung personenbezogener Daten</h4>
        <p>
          Wir verarbeiten personenbezogene Daten unserer Nutzer grundsätzlich nur, soweit dies zur Bereitstellung und Optimierung einer funktionsfähigen Webseite sowie unserer Inhalte und Leistungen erforderlich ist.
        </p>
         
        <p>
          Die Verarbeitung personenbezogener Daten unserer Nutzer erfolgt regelmäßig nur mit Ihrer Einwilligung. Eine Ausnahme gilt in solchen Fällen, in denen die Verarbeitung der Daten durch gesetzliche Vorschriften gestattet ist.
        </p>

        <h4>2. Rechtsgrundlagen für die Verarbeitung personenbezogener Daten</h4>
        <p>
          Dieses Webangebot des Presse- und Informationsamtes der Bundesregierung, BPA, und seine einzelnen Angebote sind Teil der Öffentlichkeitsarbeit des BPA. 
          Rechtsgrundlage für die Verarbeitung personenbezogener Daten im Rahmen dieser der Öffentlichkeitsarbeit ist Art. 6 Abs. 1 lit. e) DSGVO in Verbindung mit § 3 BDSG. 
          Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung einholen, dient Art. 6 Abs. 1 lit. a EU-Datenschutzgrundverordnung (DSGVO) als Rechtsgrundlage.
        </p>

        <p>
          Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines Vertrages, dessen Vertragspartei Sie sind (z.B. Bestellung von Publikationen oder Newsletter), erforderlich ist, dient Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage. 
          Dies gilt auch für vorvertragliche Maßnahmen.
        </p>

        <h4>3. Datenlöschung und Speicherdauer</h4>
        <p>
          Ihre personenbezogenen Daten werden gelöscht oder gesperrt, sobald der Zweck der Speicherung entfällt.
        </p>

        <h4>III. Bereitstellung der Webseite und Erstellung von Logfiles (Protokolldateien)</h4>

        <h4>1. Beschreibung und Umfang der Datenverarbeitung</h4>
        <p>
          Bei jedem Aufruf unserer Internetseite erfasst unser System automatisiert Daten und Informationen vom Computersystem des aufrufenden Rechners, geloggt werden folgende Daten:
        </p>
        <li>
          Informationen über den Browsertyp und die verwendete Version
        </li>
        <li>
          das Betriebssystem des Nutzers
        </li>
        <li>
          die IP-Adresse des Nutzers
        </li>
        <li>
          auf den Auslieferungsservern für 90 Tage. Dies dient der Sicherstellung des Betriebs und dem Schutz vor Angriffen (z.B. DDOS).
        </li>
        <li>
          Datum und Uhrzeit des Zugriffs inkl. Aufgerufene URL, verwendete HTTP-Methode und zurückgelieferter Statuscode, sowie das Übertragungsvolumen
        </li>
        <li>
          vom Client übermittelter HTTP Request Header Origin
        </li>
        <li>
          Webseiten, von denen das System des Nutzers auf unsere Internetseite gelangt
        </li>
        <li>
          wird als Referrer gespeichert
        </li>

        <h4></h4>
        <p>
          
        </p>

      </div>
      </main>


      <!-- Footer -->
      <footer>
        <ul class="nav-linksFooter">
          <h5>More On This Site</h5>
          <li><a href="dokumentation">Dokumentation</a></li>
          <li><a href="projekttagebuch">Projekttagebuch</a></li>
          <li><a href="kollophon">Kollophon</a></li>
          <li><a href="einversteandniserklearungen">Einverständniserklärungen</a></li>
          <li><a href="datenschutz">Datenschutz</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
