<!DOCTYPE html>
<html lang="DE">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

         <!-- Menü/Nav  --> 
         <ul class="nav-links" id="responsive">
                <a href="/login">
                    <i class="material-icons profil-icon">account_circle</i>
                </a>

                <div class="nav-items">
                    <a href="/index" class="active">Home</a>
                   <a href="/Portfolio">Mein Portfolio</a>
                    <a href="portfolio/erstellen">Portfolio erstellen</a>
                     <a href="javascript:void(0);" class="icon" id="burgermenutest">
                        <i class="material-icons" style="font-size:40px">reorder</i>
                    </a>
                </div>   
        </ul>

    <!-- Landing Page Pic  --> 
    <div class="container_LandingPage">

        <img class="container_LandingPage-img"src="/Bilder/LandingPagePic.jpg" alt="LandingPagePic">
         

    <!-- Überschrift  --> 
        <div class="left-heading"> PortfolioCraft
            <p class="p_herotext">Erstelle dir jetzt ganz einfach dein eigenes Portfolio.</p> 
            <a href="portfolio/erstellen" class="button-portfolioerstellen"> Portfolio erstellen! </a>
        </div>
        
      </div>
           
        <!-- Filter  --> 
        <div id="myBtnContainer">
            <button class="btn Filter active"> Alles</button>
            <button class="btn Filter"> 3D-Animation</button>
            <button class="btn Filter" > Motion Graphics</button>
            <button class="btn Filter" > Softwareentwicklung</button>
            <button class="btn Filter" > 2D-Art</button>
            <button class="btn Filter" > Animation</button>
          </div>

    
    <!-- 
    <div class="container Test">
        <div class="filterDiv cars">BMW</div>
        <div class="filterDiv colors fruits">Orange</div>
        <div class="filterDiv cars">Volvo</div>
        <div class="filterDiv colors">Red</div>
        <div class="filterDiv cars">Ford</div>
        <div class="filterDiv colors">Blue</div>
        <div class="filterDiv animals">Cat</div>
        <div class="filterDiv animals">Dog</div>
        <div class="filterDiv fruits">Melon</div>
        <div class="filterDiv fruits animals">Kiwi</div>
        <div class="filterDiv fruits">Banana</div>
        <div class="filterDiv fruits">Lemon</div>
        <div class="filterDiv animals">Cow</div>
      </div>
     --> 

<!-- Portfolio linksbündig  --> 
<div class="Portfolio">
    <div class="text-section">
        
        <p class="username">_____________________________Username</p>

        <h2 class="titel">Meine Überschrift</h2>

        <p class="beschreibung">Hier ist der Text, der unter der Überschrift steht. Sie können beliebigen Text hier hinzufügen, um mehr Informationen bereitzustellen.</p>
        
        <a class="btn readmore" href="Portfolio.html" >Read more <i class="material-icons pfeil" >trending_flat</i></a>
    </div>

    <div class="image-section">
        <img src="/Bilder/LandingPagePic.jpg" alt="Bildbeschreibung" />

        
    </div>
</div>


    
<!-- Portfolio linksbündig  --> 
    <div class="Portfolio">
        <div class="text-section">
            
            <p class="username">_____________________________Username</p>

            <h2 class="titel">Meine Überschrift</h2>

            <p class="beschreibung">Hier ist der Text, der unter der Überschrift steht. Sie können beliebigen Text hier hinzufügen, um mehr Informationen bereitzustellen.</p>
            
            <a class="btn readmore" href="Portfolio.html" >Read more <i class="material-icons pfeil" >trending_flat</i></a>
        </div>

        <div class="image-section">
            <img src="/Bilder/LandingPagePic.jpg" alt="Bildbeschreibung" />

            
        </div>
    </div>

    <!-- Portfolio linksbündig  --> 
    <div class="Portfolio">
        <div class="text-section">
            
            <p class="username">_____________________________Username</p>

            <h2 class="titel">Meine Überschrift</h2>

            <p class="beschreibung">Hier ist der Text, der unter der Überschrift steht. Sie können beliebigen Text hier hinzufügen, um mehr Informationen bereitzustellen.</p>
            
            <a class="btn readmore" href="Portfolio.html" >Read more <i class="material-icons pfeil" >trending_flat</i></a>
        </div>

        <div class="image-section">
            <img src="/Bilder/LandingPagePic.jpg" alt="Bildbeschreibung" />

            
        </div>
    </div>

    


<!-- Footer --> 

    <footer>
    <ul class="nav-linksFooter">
         <h5>More On This Site</h5>
         <li><a href="ueber-uns">Über uns</a></li>
         <li><a href="kontakt">Kontakt</a></li>
         <li><a href="impressum">Impressum</a></li>
         <li><a href="datenschutz">Datenschutz</a></li>
         <li><a href="dokumentation">Dokumentation</a></li>
         <li><a href="kollophon">Kollophon</a></li> 
        </ul>
    </footer>

</body>
</html>
