<!DOCTYPE html>
<html lang="DE">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kollophon</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>

  <body>
    <div class="wrapper">
      <main>
        <!-- Menü/Nav  -->
        <ul class="nav-links" id="responsive">
          {{ account | safe}}

          <div class="nav-items">
            <a href="/index" class="active">Home</a>
            {{ portfolioMenu | safe}}
            <a href="javascript:void(0);" class="icon" id="burgermenutest">
              <i class="material-icons" style="font-size: 40px">reorder</i>
            </a>
          </div>
        </ul>
      </main>

      <!-- Footer -->

      <footer>
        <ul class="nav-linksFooter">
          <h5>More On This Site</h5>
          <li><a href="ueber-uns">Über uns</a></li>
          <li><a href="kontakt">Kontakt</a></li>
          <li><a href="impressum">Impressum</a></li>
          <li><a href="datenschutz">Datenschutz</a></li>
          <li><a href="dokumentation">Dokumentation</a></li>
          <li><a href="kollophon">Kollophon</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
