<!DOCTYPE html>
<html lang="DE">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ueber Uns</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>

  <body>
    <div class="wrapper">
      <main>
        <!-- Menü/Nav  -->
        <ul class="nav-links" id="responsive">
          {{ account | safe}}

          <div class="nav-items">
            <a href="/index" class="active">Home</a>
            {{ portfolioMenu | safe}}
            <a href="javascript:void(0);" class="icon" id="burgermenutest">
              <i class="material-icons" style="font-size: 40px">reorder</i>
            </a>
          </div>
        </ul>
        <h3>Logs</h3>
        <!-- Logs Table -->
        <table>
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>User</th>
              <th>Action</th>
              <th>IP Address</th>
            </tr>
          </thead>
          <tbody>
            {% for log in logsData %}
            <tr>
              <td>{{ log.timestamp }}</td>
              <td>{{ log.user }}</td>
              <td>{{ log.action }}</td>
              <td>{{ log.ip }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </main>

      <!-- Footer -->
      <footer>
        <ul class="nav-linksFooter">
          <h5>More On This Site</h5>
          {{ logs | safe}}
          <li><a href="/dokumentation">Dokumentation</a></li>
          <li><a href="/projekttagebuch">Projekttagebuch</a></li>
          <li><a href="/kollophon">Kollophon</a></li>
          <li>
            <a href="/einversteandniserklearungen">Einverständniserklärungen</a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
