<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio erstellen</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>

  <body>
    <div class="wrapper">
      <main>
        <!-- Menü/Nav  -->
        <ul class="nav-links" id="responsive">
          {{ account | safe}}

          <div class="nav-items">
            <a href="/index" class="active">Home</a>
            {{ portfolioMenu | safe}}
            <a href="javascript:void(0);" class="icon" id="burgermenutest">
              <i class="material-icons" style="font-size: 40px">reorder</i>
            </a>
          </div>
        </ul>

        <!-- Upload -->

        <div class="PortfolioDetailSite">
          <h2>Erstelle dein Portfolio!</h2>

          <form
            id="titelForm"
            {{
            action
            |
            safe
            }}
            method="post"
            enctype="multipart/form-data"
          >
            {% if errors %}
            <div class="errors">
              <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            <fieldset>
              <legend>Portfolio Titel</legend>
              <textarea
                class="titel"
                maxlength="1000"
                id="title"
                name="title"
                placeholder="Gib einen Titel für dein Portfolio ein."
              >
{{ data.title | safe }}</textarea
              >
            </fieldset>

            <fieldset>
              <legend>Portfolio Beschreibung</legend>
              <textarea
                class="beschreibung"
                maxlength="1000"
                id="description"
                name="description"
                placeholder="Gib eine Beschreibung für dein Portfolio ein."
              >
{{ data.description | safe }}</textarea
              >
            </fieldset>

            <fieldset>
              <legend>Über Dich</legend>
              <textarea
                class="beschreibung"
                maxlength="1000"
                id="about"
                name="about"
                placeholder="Schreibe eine kurze Beschreibung über dich."
                style="display: block"
              >
{{ data.about | safe }}</textarea
              >
            </fieldset>

            <fieldset>
              <legend>Skills</legend>
              <div class="skills">
                {% for i in range(1, 9) %}
                <div class="skills-item">
                  <label class="skill" for="skill{{ i }}">Skill {{ i }}:</label>
                  <input
                    class="skills"
                    maxlength="30"
                    type="text"
                    id="skill{{ i }}"
                    name="skill{{ i }}"
                    value="{{ data.skills[i - 1] | safe if i <= data.skills | length else '' }}"
                  />
                </div>
                {% endfor %}
              </div>
            </fieldset>

            <fieldset>
              <legend>Tags</legend>
              <div>
                <label class="custom-checkbox">
                  <input type="checkbox" name="tags" value="3D-Animation" {% if
                  "3D-Animation" in data.tags %}checked{% endif %} />
                  <span class="checkmark"></span>3D-Animation
                </label>

                <label class="custom-checkbox">
                  <input type="checkbox" name="tags" value="Motion-Graphics" {%
                  if "Motion-Graphics" in data.tags %}checked{% endif %} />
                  <span class="checkmark"></span>Motion Graphics
                </label>

                <label class="custom-checkbox">
                  <input type="checkbox" name="tags" value="Softwareentwicklung"
                  {% if "Softwareentwicklung" in data.tags %}checked{% endif %}
                  />
                  <span class="checkmark"></span>Softwareentwicklung
                </label>

                <label class="custom-checkbox">
                  <input type="checkbox" name="tags" value="2D-Art" {% if
                  "2D-Art" in data.tags %}checked{% endif %} />
                  <span class="checkmark"></span>2D-Art
                </label>

                <label class="custom-checkbox">
                  <input type="checkbox" name="tags" value="Animation" {% if
                  "Animation" in data.tags %}checked{% endif %} />
                  <span class="checkmark"></span>Animation
                </label>

                <label class="custom-checkbox">
                  <input type="checkbox" name="tags" value="Webdesign" {% if
                  "Webdesign" in data.tags %}checked{% endif %} />
                  <span class="checkmark"></span>Webdesign
                </label>
              </div>
            </fieldset>
           
            {% if data.thumbnail %}
            <div class="image-section-thumbnail">
              <img src=" {{ data.thumbnail }}" alt="Thumbnail" />
            </div>
            {% endif %}

            <fieldset>
              <legend>Thumbnail</legend>

              <label for="thumbnail" class="upload-label"
                >Klicke hier um ein Bild hochzuladen.
                <i class="material-icons profil-icon">add_a_photo</i>

                <input
                  type="file"
                  id="thumbnail"
                  name="thumbnail"
                  accept="image/*"
                />
              </label>
            </fieldset>

            <button type="submit" class="save-portfolio">Speichern</button>
          </form>
        </div>
      </main>

      <!-- Footer -->
      <footer>
        <ul class="nav-linksFooter">
          <h5>More On This Site</h5>
          {{ logs | safe}}
          <li><a href="/dokumentation">Dokumentation</a></li>
          <li><a href="/projekttagebuch">Projekttagebuch</a></li>
          <li><a href="/kollophon">Kollophon</a></li>
          <li>
            <a href="/einversteandniserklearungen">Einverständniserklärungen</a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
