<!DOCTYPE html>
<html lang="DE">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projekttagebuch</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>

  <body>
    <div class="wrapper">
      <main>
        <!-- Menü/Nav  -->
        <ul class="nav-links" id="responsive">
          {{ account | safe}}

          <div class="nav-items">
            <a href="/index" class="active">Home</a>
            {{ portfolioMenu | safe}}
            <a href="javascript:void(0);" class="icon" id="burgermenutest">
              <i class="material-icons" style="font-size: 40px">reorder</i>
            </a>
          </div>
        </ul>

        <!-- Projekttagebuch -->
        <div class="FooterSites">
          <h3>Projekttagebuch : PortfolioCraft</h3>

          <h4>26.09.2024</h4>
          <li>Ausarbeitung der Idee</li>
          <li>Besprechung des Designs</li>
          <li>Festlegung der Features und Funktionen</li>

          <h4>01.10.2024</h4>
          <li>Entwicklung der grundlegenden Server Struktur/Logik</li>

          <h4>07.10.2024</h4>
          <li>Entwicklung der Style-Tiles</li>
          <li>Beginn des ersten Frontend Prototypen</li>
          <li>Aufgabenverteilung</li>

          <h4>09.10.2024</h4>
          <li>Erstellung der Datenbank</li>

          <h4>10.10.2024</h4>
          <li>Einfügen der Nunjucks</li>
          <li>Testen der Funktionen</li>

          <h4>17/18.10.2024</h4>
          <li>Erstellung der ersten html Seiten zusätzlich CSS</li>

          <h4>21/22.10.2024</h4>
          <li>Grundlegende Erstellung der API</li>
          <li>Erstellung der Forms</li>
          <li>Einbauen der Cookies</li>
          <li>
            Fertigstellung des ersten Frontend Prototypen + erste
            Zusammenführung mit Backend
          </li>

          <h4>23.10.2024</h4>
          <li>Ausbesserungen der Frontend Sites</li>
          <li>Weiterentwicklung der Forms</li>
          <li>Einholung von Feedback</li>

          <h4>10.11.2024</h4>
          <li>Einbauen des Routers</li>
          <li>Einarbeitung der Kritik/des Feedbacks</li>
          <li>Ausarbeitung der Forms für die Portfolio Erstellung</li>

          <h4>14.11.2024</h4>
          <li>Login/Registrieren Logik eingebaut</li>
          <li>Rollen eingebaut</li>

          <h4>16.11.2024</h4>
          <li>Dateiupload eingebaut</li>

          <h4>20.12.2024</h4>
          <li>Form für das Profil begonnen</li>

          <h4>03.12.2024</h4>
          <li>Weitere Ausarbeitung der HTML-Seiten</li>

          <h4>20.12.2024</h4>
          <li>Form für das Profil begonnen</li>
          <li>Testen der HTML-Seiten + weitere Verbesserungen</li>

          <h4>30.12.2024</h4>
          <li>Profilform für persönliche Daten erstellt</li>
          <li>
            Dynamisches Anzeigen von Inhalten auf samtlichen Seiten(Homepage,
            Profilseite, Portfolioseite)
          </li>
          <li>Weitere Ausarbeitung der HTML und CSS</li>

          <h4>06.01.2024</h4>
          <li>Bearbeiten und Löschen Logik für alle Forms eingebaut</li>
          <li>Form für einzelnes hochladen erstellt</li>
          <li>Verbesserungen an den HTML-Seiten vorgenommen + Mediaqueries</li>

          <h4>09.01.2024</h4>
          <li>Feedback</li>

          <h4>10.01.2024</h4>
          <li>Ändern der Forms zu einem simpleren Modell</li>
          <li>Einbauen der Validierungen für die Forms</li>
          <li>
            Arbeiten mit Nunjuck Funktionen innerhalb des Forms für Error
            Rückmeldung
          </li>
          <li>Auslagern von Funktionen in Helferskripten</li>

          <h4>12.01.2024</h4>
          <li>Absicherung von Endpunkten mit Login Checks</li>
          <li>Einbauen von der Adminroute mit Logging</li>
          <li>Änderungen der HTML-Sites, entsprechend des Feedbacks</li>

          <h4>14.01.2024</h4>
          <li>Änderungen der HTML-Sites, entsprechend des Feedbacks</li>

          <h4>16.01.2024</h4>
          <li>Ausbesserung der HTML-Sites</li>
          <li>Beginn Dokumentation</li>

          <h4>19.01.2024</h4>
          <li>
            Einfügen der Dokumentation, des Projekttagebuchs,
            Einverständniserklärungen in die HTML-Seiten
          </li>
          <li>Aufräumen des Projekts</li>
        </div>
      </main>

      <!-- Footer -->
      <footer>
        <ul class="nav-linksFooter">
          <h5>More On This Site</h5>
          {{ logs | safe}}
          <li><a href="/dokumentation">Dokumentation</a></li>
          <li><a href="/projekttagebuch">Projekttagebuch</a></li>
          <li><a href="/kollophon">Kollophon</a></li>
          <li>
            <a href="/einversteandniserklearungen">Einverständniserklärungen</a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
