<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio+work</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>

  <body>
    <div class="wrapper">
      <main>
        <!-- Menü/Nav  -->
        <ul class="nav-links" id="responsive">
          {{ account | safe}}

          <div class="nav-items">
            <a href="/index" class="active">Home</a>
            {{ portfolioMenu | safe}}
            <a href="javascript:void(0);" class="icon" id="burgermenutest">
              <i class="material-icons" style="font-size: 40px">reorder</i>
            </a>
          </div>
        </ul>

        <!-- Portfolio -->
        <div class="PortfolioDetailSite">
          <div class="button-group_portfolio">{{ editPortfolio | safe}}</div>

          <h2 id="PortfolioName">{{ title | safe}}</h2>

          {{ thumbnail | safe}}

          <div id="tags-container" class="tag-container">{{ tags | safe}}</div>

          <h3>Beschreibung</h3>

          <p id="Portfolio-Beschreibung">{{ description | safe}}</p>

          <h3>About You</h3>

          <p id="AboutMeText">{{ about | safe}}</p>

          <!-- Skills und Kontaktdaten -->
          <div class="skills-and-contact">
            <!-- Kontaktdaten-->
            <div class="contact-wrapper">
              <div class="contact_heading">
                <h3 >Kontaktdaten</h3> 
              </div>
            <div id="Container Kontaktinfos" class="container_contact">

         
              
                <dl id="Kontaktinfos" class="contact">
                  <dt>Name:</dt>
                  {{ name | safe}}
                  <dt>Email:</dt>
                  {{ mail | safe}}
                  <dt>Telefon:</dt>
                  {{ telephone | safe}}
                  <dt>Addresse:</dt>
                  {{ address | safe}}
                  <dt>Sonstiges:</dt>
                  {{ extra | safe}}
                </dl>
              </div>
            </div>

            <!-- Skills -->
            <div class="skills-wrapper">
              <div class="skills_heading">
                <h3 >Skills</h3>
              </div>
            <div id="Skills Container" class="container_skills">

            
              
                <ul id="skills" class="skills">
                  {{ skills | safe}}
                </ul>
              </div>
            </div>
          </div>

          
          <!-- Your Work-->

          <h3>Your Work</h3>
          {{ editWork | safe}} {{ work | safe}}
          <!-- Portfolio - Bildergalerie -->
        </div>
      </main>

      <!-- Footer -->
      <footer>
        <ul class="nav-linksFooter">
          <h5>More On This Site</h5>
          <li><a href="/ueber-uns">Über uns</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
          <li><a href="/impressum">Impressum</a></li>
          <li><a href="/datenschutz">Datenschutz</a></li>
          <li><a href="/dokumentation">Dokumentation</a></li>
          <li><a href="/kollophon">Kollophon</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
