<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio erstellen</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>

  <body>
    <div class="wrapper">
      <main>
        <!-- Menü/Nav  -->
        <ul class="nav-links" id="responsive">
          {{ account | safe}}

          <div class="nav-items">
            <a href="/index" class="active">Home</a>
            {{ portfolioMenu | safe}}
            <a href="javascript:void(0);" class="icon" id="burgermenutest">
              <i class="material-icons" style="font-size: 40px">reorder</i>
            </a>
          </div>
        </ul>

        <!-- Upload Your Work -->
        <div class="PortfolioDetailSite">
          <h3 class="h3_erstellePortfolio">
            Füge deinem Portfolio deine Arbeiten hinzu!
          </h3>
          <div class="header-container"></div>

          <!-- Upload Titel-->
          <form
            id="titelForm"
            {{
            action
            |
            safe
            }}
            method="post"
            enctype="multipart/form-data"
          >
            {% if errors %}
            <div class="errors">
              <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            <fieldset>
              <legend>Your Work : Titel</legend>
              <textarea
                class="titel"
                maxlength="1000"
                id="title"
                name="title"
                placeholder="Gib einen Titel für dein Portfolio ein."
              >
{{ data.title | safe }}</textarea
              >
            </fieldset>

            <!-- Upload Beschreibung-->
            <fieldset>
              <legend>Your Work : Beschreibung</legend>
              <textarea
                class="beschreibung"
                maxlength="1000"
                id="description"
                name="description"
                placeholder="Gib eine Beschreibung für dein Portfolio ein."
              >
{{ data.description | safe }}</textarea
              >
            </fieldset>

            {% if data.workImage%}
            <div class="YourWork-image-section">
              <!-- Upload Bilder-->
              {% set workImages = data.workImage if data.workImage is defined
              else [] %} {% for i in range(1, 4) %}

              <div class="image-yourwork">
                {% if workImages is iterable and workImages[i - 1] %}
                <img
                  src="{{ workImages[i - 1] }}"
                  alt="Uploaded image {{ i }}"
                />
                {% endif %}
              </div>
              {% endfor %}
            </div>
            {% endif %}
            <fieldset>
              <legend>Your Work: Bilder</legend>
              {% for i in range(1, 4) %}

              <div class="column">
                <label for="image{{ i }}" class="upload-label">
                  Klicke hier um ein Bild hochzuladen.

                  <i class="material-icons profil-icon"> add_a_photo</i>

                  <input
                    type="file"
                    id="image{{ i }}"
                    name="image{{ i }}"
                    accept="image/*"
                  />
                </label>
              </div>
              {% endfor %}
            </fieldset>

            <!-- Save Button -->
            <button type="submit" class="save-portfolio">Speichern</button>
          </form>
        </div>
      </main>

      <!-- Footer -->
      <footer>
        <ul class="nav-linksFooter">
          <h5>More On This Site</h5>
          {{ logs | safe}}
          <li><a href="/dokumentation">Dokumentation</a></li>
          <li><a href="/projekttagebuch">Projekttagebuch</a></li>
          <li><a href="/kollophon">Kollophon</a></li>
          <li>
            <a href="/einversteandniserklearungen">Einverständniserklärungen</a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
